/* line 1, ../../../compass/src/_shared.sass */
* {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  color: #404040;
}

/* line 5, ../../../compass/src/_shared.sass */
body {
  font-size: 16px;
  border-top: 2px solid #cccccc;
  min-width: 800px;
}

/* line 10, ../../../compass/src/_shared.sass */
#main {
  margin: auto;
  width: 720px;
  background: #f8f6e8;
}

/* line 15, ../../../compass/src/_shared.sass */
a {
  background-color: white;
  border-bottom: solid 1px #202020;
  color: #202020;
  text-decoration: none;
  margin: 2px;
}
/* line 21, ../../../compass/src/_shared.sass */
a:link, a:visited {
  color: #202020;
}
/* line 23, ../../../compass/src/_shared.sass */
a:hover {
  color: #004e99;
  text-decoration: none;
  border-bottom: solid 1px #004e99;
}

/* line 28, ../../../compass/src/_shared.sass */
code, pre {
  font-family: Monaco, Consolas, "Lucida Console", "Courier New", Courier, monospace;
  color: #404040;
  font-size: 13px;
}

/* line 33, ../../../compass/src/_shared.sass */
blockquote, div, ol, p, pre, ul {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

/* line 37, ../../../compass/src/_shared.sass */
h1, h2, h3, h4, h5 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #202020;
  font-weight: normal;
}
/* line 41, ../../../compass/src/_shared.sass */
h1 a, h2 a, h3 a, h4 a, h5 a {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #202020 !important;
  text-decoration: none;
  border-bottom: none;
}
/* line 46, ../../../compass/src/_shared.sass */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  color: #004e99 !important;
}

/* line 49, ../../../compass/src/_shared.sass */
h1 {
  border-bottom: 1px solid #ede8c5;
  font-size: 1.8em;
  padding-bottom: 6px;
  margin-bottom: 1em;
}

/* line 55, ../../../compass/src/_shared.sass */
h2, h3 {
  color: #202020;
  margin: 1.5em 0 1em;
}

/* line 59, ../../../compass/src/_shared.sass */
h2 {
  font-size: 1.3em;
}

/* line 62, ../../../compass/src/_shared.sass */
h3 {
  font-size: 1.1em;
}

/* line 65, ../../../compass/src/_shared.sass */
ol, ul {
  padding-left: 30px;
}
/* line 67, ../../../compass/src/_shared.sass */
ol li, ul li {
  line-height: 1.5em;
}

/* line 70, ../../../compass/src/_shared.sass */
ul {
  list-style-type: circle;
}

/* line 73, ../../../compass/src/_shared.sass */
ol {
  list-style-type: decimal;
}

/* line 76, ../../../compass/src/_shared.sass */
pre {
  background-color: #f8f8f8;
  border-left: 3px double #bbbbbb;
  padding: 0.5em;
}

/* line 81, ../../../compass/src/_shared.sass */
.clear {
  clear: both;
}

/* line 84, ../../../compass/src/_shared.sass */
.meta {
  font-size: 13px;
}
/* line 86, ../../../compass/src/_shared.sass */
.meta ul {
  margin: 0px;
  padding-left: 0;
}
/* line 89, ../../../compass/src/_shared.sass */
.meta ul li {
  color: #606060;
  display: inline;
}

/* line 93, ../../../compass/src/_shared.sass */
.passive {
  color: #606060;
}

/* line 4, ../../../compass/src/homepage.sass */
ul.tags {
  display: none;
}

/* line 7, ../../../compass/src/homepage.sass */
.excerpt {
  font-size: 1.4em;
  border-bottom: 1px solid #ede8c5;
  display: block;
  margin: 0;
}
/* line 12, ../../../compass/src/homepage.sass */
.excerpt h2 {
  margin: 0;
}
/* line 14, ../../../compass/src/homepage.sass */
.excerpt h2 img {
  float: left;
  width: 50px;
}

/* line 17, ../../../compass/src/homepage.sass */
#flickr {
  background: white;
  float: right;
  width: 500px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border: 2px solid #ede8c5;
  margin-right: 10px;
  float: right;
  background: black;
}
/* line 45, ../../../compass/src/_base.sass */
#flickr h1, #flickr h2, #flickr h3, #flickr p {
  padding: 10px;
}
/* line 21, ../../../compass/src/homepage.sass */
#flickr h2 {
  color: white !important;
}

/* line 24, ../../../compass/src/homepage.sass */
#tools {
  background: white;
  float: right;
  width: 200px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border: 2px solid #ede8c5;
  margin-right: 10px;
}
/* line 45, ../../../compass/src/_base.sass */
#tools h1, #tools h2, #tools h3, #tools p {
  padding: 10px;
}
/* line 26, ../../../compass/src/homepage.sass */
#tools img {
  width: 19px;
  padding-top: 5px;
}
/* line 29, ../../../compass/src/homepage.sass */
#tools h2 {
  font-size: 0.6em;
  font-weight: 700;
  padding: 2px;
}
/* line 33, ../../../compass/src/homepage.sass */
#tools h2 a {
  line-height: 30px !important;
}
/* line 35, ../../../compass/src/homepage.sass */
#tools p {
  font-size: 0.6em;
}

/* line 38, ../../../compass/src/homepage.sass */
#features {
  background: white;
  float: right;
  width: 400px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border: 2px solid #ede8c5;
  margin-right: 10px;
}
/* line 45, ../../../compass/src/_base.sass */
#features h1, #features h2, #features h3, #features p {
  padding: 10px;
}
/* line 40, ../../../compass/src/homepage.sass */
#features p {
  font-size: 0.8em;
}

/* line 43, ../../../compass/src/homepage.sass */
#header {
  margin-bottom: 2em;
  overflow: auto;
  width: 100%;
  bottom-margin: 0.7em;
}
/* line 48, ../../../compass/src/homepage.sass */
#header .logo {
  background-color: #003899;
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: baskerville, palatino, "palatino linotype", georgia, serif;
}
/* line 55, ../../../compass/src/homepage.sass */
#header .logo a {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: white;
  background-color: #003899;
  border: none;
  font-family: baskerville, palatino, "palatino linotype", georgia, serif;
  text-decoration: none;
}
/* line 62, ../../../compass/src/homepage.sass */
#header .logo a:link, #header .logo a:visited {
  color: black !important;
}
/* line 64, ../../../compass/src/homepage.sass */
#header .logo a:hover {
  color: black !important;
  border-bottom: solid 1px white;
  text-decoration: none;
}
/* line 68, ../../../compass/src/homepage.sass */
#header #nav {
  float: right;
  clear: both;
  margin-top: 10px;
  text-align: center;
  clear: none;
  width: 100%;
}
/* line 76, ../../../compass/src/homepage.sass */
#header #nav ul li {
  display: inline;
}
/* line 78, ../../../compass/src/homepage.sass */
#header .byline {
  color: #606060;
}

/* line 81, ../../../compass/src/homepage.sass */
#other-articles {
  margin-top: 4em;
}
/* line 34, ../../../compass/src/_base.sass */
#other-articles ul {
  padding: 0;
  list-style-type: none;
}
/* line 84, ../../../compass/src/homepage.sass */
#other-articles h3 {
  margin: 0 0 0.5em;
}
/* line 86, ../../../compass/src/homepage.sass */
#other-articles .newer {
  text-align: right;
  float: right;
}
/* line 89, ../../../compass/src/homepage.sass */
#other-articles .older {
  float: left;
}

/* line 92, ../../../compass/src/homepage.sass */
#taglist {
  font-size: 0.8em;
  margin-top: 3em;
  text-align: right;
}

/* line 97, ../../../compass/src/homepage.sass */
#welcome {
  border: 3px double #eeeeee;
  margin-bottom: 3.2em;
  margin: auto;
  text-align: center;
}
/* line 102, ../../../compass/src/homepage.sass */
#welcome p {
  margin: 0;
  line-height: 4em;
}

/* line 106, ../../../compass/src/homepage.sass */
a.tag {
  color: #a0a0a0 !important;
  padding: 0 0.1em 0;
}
/* line 109, ../../../compass/src/homepage.sass */
a.tag:hover {
  color: #004e99 !important;
}

/* line 112, ../../../compass/src/homepage.sass */
ul.tags {
  text-transform: uppercase;
  margin-left: 10px;
}

/* line 34, ../../../compass/src/_base.sass */
.tags-page ul {
  padding: 0;
  list-style-type: none;
}

/* line 119, ../../../compass/src/homepage.sass */
#main {
  width: 100%;
}

/* line 122, ../../../compass/src/homepage.sass */
.dsq-dc-logo {
  display: none !important;
}
