/* line 43, ../../../compass/src/style.sass */
* {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  color: #404040;
}

/* line 47, ../../../compass/src/style.sass */
body {
  font-size: 16px;
  border-top: 2px solid #cccccc;
  min-width: 800px;
}

/* line 52, ../../../compass/src/style.sass */
#main {
  margin: auto;
  width: 720px;
  background: #f8f6e8;
}

/* line 57, ../../../compass/src/style.sass */
a {
  background-color: white;
  border-bottom: solid 1px #202020;
  color: #202020;
  text-decoration: none;
  margin: 2px;
}
/* line 63, ../../../compass/src/style.sass */
a:link, a:visited {
  color: #202020;
}
/* line 65, ../../../compass/src/style.sass */
a:hover {
  color: #004e99;
  text-decoration: none;
  border-bottom: solid 1px #004e99;
}

/* line 79, ../../../compass/src/style.sass */
#tools {
  background: white;
  float: right;
  width: 200px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  margin: 10px;
  border: #f2eed4;
}
/* line 81, ../../../compass/src/style.sass */
#tools h2 {
  font-size: 0.6em;
}
/* line 83, ../../../compass/src/style.sass */
#tools p {
  font-size: 0.6em;
}

/* line 86, ../../../compass/src/style.sass */
#features {
  background: white;
  float: right;
  width: 400px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  margin: 10px;
  border: #f2eed4;
}
/* line 88, ../../../compass/src/style.sass */
#features p {
  font-size: 0.8em;
}

/* line 91, ../../../compass/src/style.sass */
code, pre {
  font-family: Monaco, Consolas, "Lucida Console", "Courier New", Courier, monospace;
  color: #404040;
  font-size: 13px;
}

/* line 96, ../../../compass/src/style.sass */
blockquote, div, ol, p, pre, ul {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

/* line 100, ../../../compass/src/style.sass */
h1, h2, h3, h4, h5 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #202020;
  font-weight: normal;
}
/* line 104, ../../../compass/src/style.sass */
h1 a, h2 a, h3 a, h4 a, h5 a {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #202020 !important;
  text-decoration: none;
  border-bottom: none;
}
/* line 109, ../../../compass/src/style.sass */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  color: #004e99 !important;
}

/* line 112, ../../../compass/src/style.sass */
h1 {
  border-bottom: 1px solid #f2eed4;
  font-size: 1.8em;
  padding-bottom: 6px;
  margin-bottom: 1em;
}

/* line 118, ../../../compass/src/style.sass */
h2, h3 {
  color: #202020;
  margin: 1.5em 0 1em;
}

/* line 122, ../../../compass/src/style.sass */
h2 {
  font-size: 1.3em;
}

/* line 125, ../../../compass/src/style.sass */
h3 {
  font-size: 1.1em;
}

/* line 128, ../../../compass/src/style.sass */
ol, ul {
  padding-left: 30px;
}
/* line 130, ../../../compass/src/style.sass */
ol li, ul li {
  line-height: 1.5em;
}

/* line 133, ../../../compass/src/style.sass */
ul {
  list-style-type: circle;
}

/* line 136, ../../../compass/src/style.sass */
ol {
  list-style-type: decimal;
}

/* line 139, ../../../compass/src/style.sass */
pre {
  background-color: #f8f8f8;
  border-left: 3px double #bbbbbb;
  padding: 0.5em;
}

/* line 144, ../../../compass/src/style.sass */
#header {
  margin-bottom: 2em;
  overflow: auto;
  width: 100%;
  bottom-margin: 0.7em;
}
/* line 149, ../../../compass/src/style.sass */
#header .logo {
  background-color: #003899;
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: baskerville, palatino, "palatino linotype", georgia, serif;
}
/* line 156, ../../../compass/src/style.sass */
#header .logo a {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: white;
  background-color: #003899;
  border: none;
  font-family: baskerville, palatino, "palatino linotype", georgia, serif;
  text-decoration: none;
}
/* line 163, ../../../compass/src/style.sass */
#header .logo a:link, #header .logo a:visited {
  color: black !important;
}
/* line 165, ../../../compass/src/style.sass */
#header .logo a:hover {
  color: black !important;
  border-bottom: solid 1px white;
  text-decoration: none;
}
/* line 169, ../../../compass/src/style.sass */
#header #nav {
  float: right;
  clear: both;
  margin-top: 10px;
  text-align: center;
  clear: none;
  width: 100%;
}
/* line 177, ../../../compass/src/style.sass */
#header #nav ul li {
  display: inline;
}
/* line 179, ../../../compass/src/style.sass */
#header .byline {
  color: #606060;
}

/* line 182, ../../../compass/src/style.sass */
#other-articles {
  margin-top: 4em;
}
/* line 37, ../../../compass/src/style.sass */
#other-articles ul {
  padding: 0;
  list-style-type: none;
}
/* line 185, ../../../compass/src/style.sass */
#other-articles h3 {
  margin: 0 0 0.5em;
}
/* line 187, ../../../compass/src/style.sass */
#other-articles .newer {
  text-align: right;
  float: right;
}
/* line 190, ../../../compass/src/style.sass */
#other-articles .older {
  float: left;
}

/* line 193, ../../../compass/src/style.sass */
#taglist {
  font-size: 0.8em;
  margin-top: 3em;
  text-align: right;
}

/* line 198, ../../../compass/src/style.sass */
#welcome {
  border: 3px double #eeeeee;
  margin-bottom: 3.2em;
}
/* line 201, ../../../compass/src/style.sass */
#welcome .body {
  margin: auto;
  text-align: center;
}
/* line 204, ../../../compass/src/style.sass */
#welcome .body p {
  margin: 0;
  line-height: 4em;
}

/* line 209, ../../../compass/src/style.sass */
.archives .excerpt, .tag-page .excerpt {
  font-size: 140%;
  margin: 0;
}
/* line 212, ../../../compass/src/style.sass */
.archives .excerpt h2, .tag-page .excerpt h2 {
  margin-top: 0;
}
/* line 214, ../../../compass/src/style.sass */
.archives ul, .tag-page ul {
  list-style-type: none;
  padding-left: 0px;
}

/* line 218, ../../../compass/src/style.sass */
.article, .excerpt, .featured {
  margin-bottom: 2.5em;
}

/* line 222, ../../../compass/src/style.sass */
table.colophon td:first-of-type {
  width: 175px;
}

/* line 226, ../../../compass/src/style.sass */
.article h1, .featured h1 {
  margin-bottom: 0.25em;
}

/* line 229, ../../../compass/src/style.sass */
.clear {
  clear: both;
}

/* line 232, ../../../compass/src/style.sass */
.excerpt {
  margin-bottom: 1.5em;
}
/* line 234, ../../../compass/src/style.sass */
.excerpt h2 {
  margin-bottom: 0.5em;
}
/* line 236, ../../../compass/src/style.sass */
.excerpt p {
  margin-bottom: 0.5em;
}

/* line 239, ../../../compass/src/style.sass */
.meta {
  font-size: 13px;
}
/* line 241, ../../../compass/src/style.sass */
.meta ul {
  margin: 0px;
  padding-left: 0;
}
/* line 244, ../../../compass/src/style.sass */
.meta ul li {
  color: #606060;
  display: inline;
}

/* line 248, ../../../compass/src/style.sass */
.passive {
  color: #606060;
}

/* line 251, ../../../compass/src/style.sass */
a.tag {
  color: #202020 !important;
  padding: 0 0.1em 0;
}
/* line 254, ../../../compass/src/style.sass */
a.tag:hover {
  color: #004e99 !important;
}

/* line 257, ../../../compass/src/style.sass */
.tags {
  text-transform: lowercase;
}

/* line 37, ../../../compass/src/style.sass */
.tags-page ul {
  padding: 0;
  list-style-type: none;
}

/* line 263, ../../../compass/src/style.sass */
.screencast {
  text-align: center;
  border: 3px double #bbbbbb;
  padding-top: 30px;
  div-padding: 0;
  div-margin-bottom: 0;
  div-font-size: 0.5em !important;
}

/* line 272, ../../../compass/src/style.sass */
.excerpt {
  font-size: 1.4em;
  padding-left: 1em;
  padding-top: 1em;
  border-bottom: 1px solid #f2eed4;
  display: block;
  margin: 0;
}
/* line 279, ../../../compass/src/style.sass */
.excerpt h2 {
  margin: 0;
}

/* line 282, ../../../compass/src/style.sass */
#main {
  width: 100%;
}

/* line 285, ../../../compass/src/style.sass */
.dsq-dc-logo {
  display: none !important;
}
